name: Build mysql-pool-utils
run-name: Running mysql-pool-utils build.
on: [push]
jobs:
  build-mysql-pool-utils:
    runs-on: ubuntu-latest
    env:
      NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
    - name: Check out repository code
      uses: actions/checkout@main

    - name: Cache node modules
      id: cache-npm
      uses: actions/cache@main
      env:
        cache-name: cache-node-modules
      with:
        # npm cache files are stored in `~/.npm` on Linux/macOS
        path: ~/.npm
        # todo - change this so we are less restrictive on package-lock changes
        key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
        restore-keys: |
          ${{ runner.os }}-build-${{ env.cache-name }}-
          ${{ runner.os }}-build-
          ${{ runner.os }}-

    # Setup .npmrc file to publish to GitHub Packages
    - uses: actions/setup-node@v6
      with:
        node-version: ${{ vars.NODE_VERSION }}
        registry-url: 'https://npm.pkg.github.com'

    - run: npm ci

    - if: ${{ steps.cache-npm.outputs.cache-hit != 'true' }}
      name: List the state of node modules
      continue-on-error: true
      run: npm list

    - name: Startup MySQL container
      uses: hoverkraft-tech/compose-action@v2.4.3
      with:
        compose-file: docker-compose.yml
        services: mysqldb
        up-flags: '-d'

    - run: npm run test
      name: Run tests with DB container
      env:
        DOTENV_FLOW_PATTERN: '.env.test'
        DATABASE_CHECK_RETRIES: 20
        DATABASE_CHECK_DELAY: 500
  
    - run: npm run build
